/* PrismJS 1.29.0
https://prismjs.com/download.html#themes=prism-tomorrow&languages=markup */
code[class*=language-],pre[class*=language-]{color:#ccc;background:0 0;font-family:Consolas,Monaco,'Andale Mono','Ubuntu Mono',monospace;font-size:1em;text-align:left;white-space:pre;word-spacing:normal;word-break:normal;word-wrap:normal;line-height:1.5;-moz-tab-size:4;-o-tab-size:4;tab-size:4;-webkit-hyphens:none;-moz-hyphens:none;-ms-hyphens:none;hyphens:none}pre[class*=language-]{padding:1em;margin:.5em 0;overflow:auto}:not(pre)>code[class*=language-],pre[class*=language-]{background:#2d2d2d}:not(pre)>code[class*=language-]{padding:.1em;border-radius:.3em;white-space:normal}.token.block-comment,.token.cdata,.token.comment,.token.doctype,.token.prolog{color:#999}.token.punctuation{color:#ccc}.token.attr-name,.token.deleted,.token.namespace,.token.tag{color:#e2777a}.token.function-name{color:#6196cc}.token.boolean,.token.function,.token.number{color:#f08d49}.token.class-name,.token.constant,.token.property,.token.symbol{color:#f8c555}.token.atrule,.token.builtin,.token.important,.token.keyword,.token.selector{color:#cc99cd}.token.attr-value,.token.char,.token.regex,.token.string,.token.variable{color:#7ec699}.token.entity,.token.operator,.token.url{color:#67cdcc}.token.bold,.token.important{font-weight:700}.token.italic{font-style:italic}.token.entity{cursor:help}.token.inserted{color:green}

@font-face { src: url("https://jarrodtaylor.github.io/alternator/fonts/text/normal.woff2") format("woff2");
	font-family: "text"; font-style: normal; font-weight: normal; }
@font-face { src: url("https://jarrodtaylor.github.io/alternator/fonts/text/bold.woff2") format("woff2");
	font-family: "text"; font-style: normal; font-weight: bold; }
@font-face { src: url("https://jarrodtaylor.github.io/alternator/fonts/text/italic.woff2") format("woff2");
	font-family: "text"; font-style: italic; font-weight: normal; }
@font-face { src: url("https://jarrodtaylor.github.io/alternator/fonts/text/lighter.woff2") format("woff2");
	font-family: "text"; font-style: normal; font-weight: 300; }

@font-face { src: url("https://jarrodtaylor.github.io/alternator/fonts/code/regular.woff2") format("woff2");
	font-family: "code"; font-style: normal; font-weight: normal; }

body {
	font-family: "text", system-ui, "Segoe UI", sans-serif; }

code {
	font-family: "code", ui-monospace, monospace !important; }


html {
	font-size: 125%;
}

@media (width <= 430px) {
	html {
		font-size: 100%;
	}
}

body {
  color: #333;
  line-height: 1.5rem;
  max-width: calc(768px - 3rem);
  padding: 1.5rem;
  margin: auto;
}

header {}

header small {
  color: dimgray;
}

main {}

footer {
  font-size: .875rem;
  margin-bottom: 5rem;
  margin-top: 5rem;
  text-align: center;
}

h1, h2, h3 {
	color: black;
	font-weight: bold;
	margin-bottom: 0;
}

h1 {
	font-size: 4rem;
	font-weight: bolder;
	margin-top: 5rem;
	line-height: 4.5rem;
}

h2 {
	font-size: 2rem;
	margin-top: 5rem;
	line-height: 2.5rem;
}

h3 {
	font-size: 1.5rem;
	margin-top: 3rem;
	line-height: 2rem;
}

a {
	background-color: aliceblue;
	border-radius: .1rem;
	color: royalblue;
	margin: 0 -.1rem;
	padding: 0 .1rem;
}

a:hover {
	text-decoration: none;
}

p, pre {
	margin: 1.5rem 0;
}

p.lede {
	color: black;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 2rem;
}

pre {
  border-radius: .1rem;
  font-size: .875rem !important;
}

p code {
  background-color: seashell;
  color: firebrick;
}
